<head>
  <title>Explain This to Me</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='Person_shrugging_Emoji.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='Question_mark_icon.png') }}" class="new-image" />
  <h3>Explain this to me</h3>
  <h5>Enter what idea or concept you need to have explained to you </h5>
  <form action="/" method="post">
    <textarea name="reflection" placeholder="Enter Here!" required /></textarea>
    <input type="submit" value="Explaintion" />
  </form>
  {% if result %} 
    <div class="result">{{ result }}</div> 
  {% endif %}
</body>